name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  if: false
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: py-playwright:test
        load: true
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run Docker container
      run: |
        docker run --rm --shm-size=2g py-playwright:test